@import "variables";

.world-background {
  padding-top: 20px;
  color: black;

  h1 { color: white; }
  hr { border-color: black; }
  img { margin-top: 10px; }

  .block { margin: 20px 0; }
}

.water-background {
  hr { border-color: white; }
}
