@import "variables";
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

*, :before, :after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  color: white;
  background-color: $blue;

  font-family: arial, sans-serif;
}

a {
  color: white;
}

h1, h2, h3 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

h2 {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

.row {
  &:before, &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.block {
  padding: 20px;
  display: inline-block;
  background-color: rgba(0,0,0, 0.5);
  h1:first-of-type {
    padding-bottom: 10px;
  }
}

.facebook {
  color: #3b5998;
  text-decoration: none;
}

.spacer {
  padding: 10px 0;
}

.love-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media screen and (max-width: $lg-min) {
  .love-link {
    position: static;
    text-align: center;
  }
}

.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-4,
.col-md-6,
.col-md-10,
.col-md-11,
.col-md-12 {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 0px;
}

@media screen and (max-width: $md-min) {
  .mobile-spacer {
    padding: 10px 0;
  }
  .mobile-block {
    padding: 20px;
    display: inline-block;
    background-color: rgba(0,0,0, 0.5);
    h1:first-of-type {
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: $md-min) {
  .col-md-12 {
    width: percentage(12/12);
  }
  .col-md-11 {
    width: percentage(11/12);
  }
  .col-md-10 {
    width: percentage(10/12);
  }
  .col-md-8 {
    width: percentage(8/12);
  }
  .col-md-6 {
    width: percentage(6/12);
  }
  .col-md-4 {
    width: percentage(4/12);
  }
  .col-md-offset-3 {
    margin-left: percentage(3/12)
  }
  .col-md-offset-2 {
    margin-left: percentage(2/12)
  }
  .col-md-offset-1 {
    margin-left: percentage(1/12)
  }
}
