@import "variables";

*, :before, :after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: $blue;
}

a {
  color: white;
}

h2, h3 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.img-responsive {
  max-width: 100%;
}

.row {
  &:before, &:after {
    display: table;
    content: " ";
    clear: both;
  }
}


.page-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.love-link {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

@media screen and (max-width: $lg-min) {
  .love-link {
    position: static;
    text-align: center;
  }
}

.col-md-offset-3,
.col-md-4,
.col-md-6,
.col-md-12 {
  float: left;
  width: 100%;
  padding: 10px;
  margin-left: 0px;
}

@media screen and (min-width: $md-min) {
  .col-md-12 {
    width: percentage(12/12);
  }
  .col-md-6 {
    width: percentage(6/12);
  }
  .col-md-4 {
    width: percentage(4/12);
  }
  .col-md-offset-3 {
    margin-left: percentage(3/12)
  }
}
