%h1 Santa Rosa Charity Barbeque
%h2 Save The Date!

%h3 When?
%p
  September 19, 2015

%h3 Why?
%p
  Santa Rosa, Guatemala<br>
  Children’s Nutrition Program,<br>
  Middle School Education,<br>
  &amp; Clean Water Project

%h3 Where?
%p
  The Painter Barn<br>
  5510 Mt. Pisgah Rd, York, PA

%h2 Get Involved!
%h3 Event Committee
%p Putting together a great event like this needs an abundance of volunteers to organize publicity, donations, food, event activities and auction.

%h3 Auction Items
%p Solicit gift packages, gift baskets or other large items to be donated for our auction at the event.

%h3 Advertising Sponsorship
%p Your establishment can be advertised as a sponsor of our event via a tax-deductible financial donation.

%h2 More Info
%p Contact Jeff &amp; Nancy Painter or Randy Turner for more info
%p
  %a(href="mailto:santarosa.charitybarbeque@gmail.com") santarosa.charitybarbeque@gmail.com
%p Contributions on behalf of Santa Rosa Project may be made payable to New Life Advance, are tax deductible.
