.row.world-background.margin-20
  .row.text-center
    .block
      %h1 Santa Rosa, Guatemala
      %h1 Charity Event &amp; Auction
  .row.text-center
    .col-md-6
      .row
        .col-md-11.col-md-offset-1
          %h3
            Friend us on
            %a.facebook(href="https://www.facebook.com/profile.php?id=100010143154455" target="_blank")
              %i.fa.fa-facebook-official
              %span Facebook
          %img.img-responsive{ src: "img/collage.jpg" }
    .col-md-6
      %h2 Save The Date!
      .row
        .col-md-8.col-md-offset-2
          %hr
      .row
        .col-md-6
          %h3 When?
          %p
            September 19, 2015
        .col-md-6
          %h3 Where?
          %p
            The Painter Barn<br>
            5510 Mt. Pisgah Rd, York, PA
        .col-md-12
          %h3 Why?
          %p
            Santa Rosa, Guatemala<br>
            Children’s Nutrition Program,<br>
            Middle School Education,<br>
            &amp; Clean Water Project
    .col-md-12
      %h3 Childrens Nutrition Program - Clean Water Project - Middle School Education
.row.water-background
  .row.text-center
    .col-md-12
      %h2 Ways for You to Get Involved!
    .col-md-4
      .block
        %h3 Event Committee
        %p Putting together a great event like this needs an abundance of volunteers to organize publicity, donations, food, event activities and the auction.
    .col-md-4
      .block
        %h3 Auction Items
        %p Solicit gift packages, gift baskets or other large items to be donated for our auction at the event.
    .col-md-4
      .block
        %h3 Advertising Sponsorship
        %p Your establishment can be advertised as a sponsor of our event via a tax-deductible financial donation.
  .row
    .col-md-12.text-center
      %h2 More Information
      .row
        .col-md-6.col-md-offset-3
          %hr
    .col-md-6
      .row
        .col-md-12
          .block
            %h2.text-center Background
            %p We have started planning a charity event for a village called Santa Rosa. This is the village that Mike and Terri McComb have been reaching out to for over 15 years located 3 hours north of Nebaj. Most of these families are refugees who fled during the Guatemalan Civil War, finding safety in the mountains in the very remote village of Santa Rosa.
            %p Mike and Terri shared that Santa Rosa needs a clean water system, advancing their schooling system to include a junior high school (in other words funding teachers and a curriculum), and funding the children’s nutritional program essential for healthy growth.
            %p Our goal is to raise $15,000, and with your help, family and friends, we know we can do this! Putting together a great event like this needs an energetic planning committee and an abundance of volunteers to organize publicity, soliciting donations, food, event activities, and the auction. And, all contributions on behalf of Santa Rose Project may be made payable to Mike & Terri’s Ministry, New Life Advance and are tax deductible.
            %p We would love for you to be a part of this great endeavor that we hope will grow into an annual event. Please contact any one of us for further information and play a key role in planning committee.
            %p Most of all we appreciate your prayers for the success of this event, the families of Santa Rosa, and the work of Mike and Terri McComb.
    .col-md-6
      .row
        .col-md-10.col-md-offset-1
          %img.img-responsive{ src: "img/baby.jpg" }
          .mobile-spacer
          .mobile-block.text-center
            %p Contact Jeff &amp; Nancy Painter or Randy Turner
            %p
              %a(href="mailto:santarosa.charitybarbeque@gmail.com") santarosa.charitybarbeque@gmail.com
            %p Contributions on behalf of Santa Rosa Project may be made payable to New Life Advance, are they tax deductible.
.row
  .row.text-center
    .col-md-12
      %h2 Flyers
    .col-md-4
      %img.img-responsive{ src: "img/flyer1.jpg" }
    .col-md-4
      %img.img-responsive{ src: "img/flyer2.jpg" }
      .spacer
      %img.img-responsive{ src: "img/flyer3.jpg" }
    .col-md-4
      %img.img-responsive{ src: "img/flyer4.jpg" }
